* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fd7e14;
}

.hero {
    background-color: rgb(67, 189, 37);
    color:blanchedalmond;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.5), transparent), url(img/Ardoise_part_gâteau_pots.jpg);
    background-size: cover;
    background-position: center;
}
.hero a{
    color:blanchedalmond;
    padding: 10px 30px;
    background-color: rgb(70, 70, 100);
    border-style:  #333 1px solid;
    border-radius: 50%;
}

.wrap{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh ;
}

.quote {
    font-style:italic;
}